.button {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #2fbffc;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.backButton {
    font-size: 14px;
    font-weight: 700;
    color: rgb(148, 163, 184);
    cursor: pointer;
}